<h2 class="page-header">New Book</h2>
<form action="/books/new" method="POST">
  <%- include('_formFields') %>
  <a class="btn" href="/books">Cancel</a>
  <button class="btn" type="submit">Create</button>
</form>
